.container {
  width: 1250px;
}
.tile {
  width: 380px;
  min-height: 250px;
  display: inline-block;
  border: 1px solid gray;
  margin: 5px;
}

.buyPrice {
  width: 95px;
  margin: 0px auto;
}

/*ul {
  padding: 0px;
  list-style-type: none;
}

li {
  display: inline-block;
}*/