<!doctype html>
<!-- To load this page, go to the project folder and run a http server using Python
python -m SimpleHTTPServer -->
<html lang="en" ng-app="portfolioCharts">
<head>
  <meta charset="utf-8">

  <title>Portfolio Charts</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
  <div class="container" ng-controller="mainController">

    <div class="tile" ng-repeat="company in model.companyList track by company.scrip">
      <!-- <img ng-src="{{ model.getChartURL(company.scrip) }}" alt=""> -->
      <img ng-src="{{ company.chartLink }}" alt="">
      <div class="buyPrice">{{ company.buyPrice }}</div>
      <div>
        <a href="" class="timeLink" ng-click="model.updateChart(company, '5d')">5d</a>
        <a href="" class="timeLink" ng-click="model.updateChart(company, '3m')">3m</a>
        <a href="" class="timeLink" ng-click="model.updateChart(company, '1y')">1y</a>
      </div>
    </div>

  </div>



  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="scripts/controllers/mainController.js"></script>

</body>
</html>