/*.container {
  width: 1250px;
}*/

.tile {
  /*width: 380px;*/
  /*min-height: 250px;*/
  padding: 2em 1em 2em 1em;
  max-width: 100%;
  display: inline-block;
  border: 1px solid gray;
  margin: 0.5em;
  position: relative;
}

.removeTile {
  position: absolute;
  padding: 0 3px 0 0;
  right: 0px;
  top: 0px;
}

.buyPrice {
/*  width: 95px;
  margin: 0px auto;*/
  position: absolute;
  bottom: 25%;
  left: 43%;
  color: rgb(92, 92, 92);
  font-size: 1.75em;
}

img {
  /*width: 350px;
  height: 205px;*/
  max-width: 100%;
  margin: 0px auto;
  display: block;
}

.timeLink{
  font-size: 1.25em;
  position: absolute;
  /*margin-left: 20%;*/
}
.t1 { left: 21%;  }
.t2 { left: 46%;  }
.t3 { left: 74%;  }

body { padding-top: 70px; }

.labelAdj {
  margin-top: 5px;
  margin-right: 5px;
}

input[type=radio] {
  margin: 9px 5px 0
}

#searchBar {
  width: 360px;
}