.container {
  width: 1250px;
}

.tile {
  width: 380px;
  min-height: 250px;
  display: inline-block;
  border: 1px solid gray;
  margin: 5px;
  position: relative;
}

.buyPrice {
  width: 95px;
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 43%;
  color: rgb(92, 92, 92);
  font-size: 175%;
}

img {
  width: 350px;
  height: 205px;
  margin: 0px auto;
  display: block;
}

.timeLink{
  font-size: 125%;
  margin-left: 20%;
}

body { padding-top: 70px; }

.labelAdj {
  margin-top: 5px;
  margin-right: 5px;
}

input[type=radio] {
  margin: 9px 5px 0
}

#searchBar {
  width: 360px;
}