/*.container {
  width: 1250px;
}*/

.tile {
  /*width: 380px;*/
  /*min-height: 250px;*/
  padding: 2em 1em 2em 1em;
  max-width: 100%;
  display: inline-block;
  border: 1px solid gray;
  margin: 0.5em;
  position: relative;
}
.close {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
  position: absolute;
  padding: 0 3px 0 0;
  right: 0px;
  top: 0px;
}

.margin10{
  margin: 10px;
}

.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.alert {
  text-align: center;
  margin-top: -20px; /* to reduce the default margin-bottom: 20px that bootstrap adds on navbar */
}

.buyPrice {
/*  width: 95px;
  margin: 0px auto;*/
  position: absolute;
  bottom: 25%;
  left: 43%;
  color: rgb(92, 92, 92);
  font-size: 1.75em;
}

img {
  /*width: 350px;
  height: 205px;*/
  max-width: 100%;
  margin: 0px auto;
  display: block;
}

.timeLink{
  font-size: 1.25em;
  position: absolute;
  /*margin-left: 20%;*/
}
.t1 { left: 21%;  }
.t2 { left: 46%;  }
.t3 { left: 74%;  }

/*body { padding-top: 70px; }*/

.labelAdj {
  margin-top: 5px;
  margin-right: 5px;
}

input[type=radio] {
  margin: 9px 5px 0
}

#searchBar {
  /*width: 60%;*/
}